<section class="popup popup--slider" data-module="popup" id="popup-gallery-interior">
    <div class="popup__bg" onclick="myApp['closePopup']('#popup-gallery-interior')"></div>
    <div class="popup__table">
        <div class="popup__table-cell">
            <div class="popup__container">
                <div class="popup__close js-pause-all">
                    <img src="{{ assets_url }}/images/icon/close-button.png" alt="">
                </div>
                <div class="popup__content" data-module="popup-slider">
                    <div class="slider slider__rotate">
                        <div class="container">
                            <h3 class="text-uppercase popup--slider__title">Hình ảnh nội thất</h3>
                            <div class="rotateslider-container">
                                <!-- Insert your images here -->
                                    <div class="rotateslider-item">
                                        <div class="rotateslider__inner">
                                            <div class="rotateslider-item__img">
                                               <img class="lozad" src="{{ assets_url }}/images/dummy/890x502.png" data-src="{{ assets_url }}/images/popup/front.jpg" alt="">
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="rotateslider-item">
                                        <div class="rotateslider__inner">
                                            <div class="rotateslider-item__img">
                                               <img class="lozad" src="{{ assets_url }}/images/dummy/890x502.png" data-src="{{ assets_url }}/images/popup/front.jpg" alt="">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="rotateslider-item">
                                        <div class="rotateslider__inner">
                                            
                                            <div class="rotateslider-item__img">
                                               <img class="lozad" src="{{ assets_url }}/images/dummy/890x502.png" data-src="{{ assets_url }}/images/popup/front.jpg" alt="">
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="rotateslider-item">
                                        <div class="rotateslider__inner">
                                            <div class="rotateslider-item__img">
                                               <img class="lozad" src="{{ assets_url }}/images/dummy/890x502.png" data-src="{{ assets_url }}/images/popup/front.jpg" alt="">
                                            </div>
                                            
                                        </div>
                                        
                                    </div>                     
                                    
                                <!-- Next/prev arrows navigation -->
                                <div class="js-rotateslider-arrow o-arrow c-arrow-right" data-action="next">
                                    <span></span>
                                    <span></span>
                                </div>

                                <div class="js-rotateslider-arrow o-arrow c-arrow-left" data-action="prev">
                                    <span></span>
                                    <span></span>
                                </div>
                                <ul class="js-rotateslider-paginator rotateslider-paginator"></ul>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>
