<section class="s-color js-snap-item section-holder" data-module="color-car">
    <div class="color-carousel text-center">
        <div class="color-carousel__item">
            <h3 class="white">Trắng ngọc quý phái</h3>
            <div class="color-carousel__img">
                <img src="{{ assets_url }}/images/s-color/holder.png" alt="">
                <div id='mySpriteSpin1' data-name="white" class="spritespin-canvas"></div>
            </div>
            <h4>Áp dụng cho phiên bản Civic : RS</h4>
        </div>
        <div class="color-carousel__item">
            <h3 class="gray">Ghi bạc thời trang</h3>
            <div class="color-carousel__img">
                <img src="{{ assets_url }}/images/s-color/holder.png" alt="">
                <div id='mySpriteSpin2'  data-name="silver" class="spritespin-canvas"></div>
            </div>
            <h4>Áp dụng cho phiên bản Civic : RS</h4>
        </div>
        <div class="color-carousel__item">
            <h3 class="red">Đỏ đam mê</h3>
            <div class="color-carousel__img">
                <img src="{{ assets_url }}/images/s-color/holder.png" alt="">
                <div id='mySpriteSpin3'  data-name="red" class="spritespin-canvas"></div>
            </div>
            <h4>Áp dụng cho phiên bản Civic : RS</h4>
        </div>
        
        <div class="color-carousel__item">
            <h3 class="black">Đen ánh độc tôn</h3>
            <div class="color-carousel__img">
                <img src="{{ assets_url }}/images/s-color/holder.png" alt="">
                <div id='mySpriteSpin4'  data-name="black-pearl" class="spritespin-canvas"></div>
            </div>
            <h4>Áp dụng cho phiên bản Civic : RS</h4>
        </div>
        <div class="color-carousel__item">
            <h3 class="blue">Xanh đậm cá tính</h3>
            <div class="color-carousel__img">
                <img src="{{ assets_url }}/images/s-color/holder.png" alt="">
                <div id='mySpriteSpin5'  data-name="blue" class="spritespin-canvas"></div>
            </div>
            <h4>Áp dụng cho phiên bản Civic : RS</h4>
        </div>
    </div>
    {# <div id="myCar">
    </div> #}
</section>
