<section class="section-block">
    <div class="headline-block">
        <h4 class="headline__regular">KIẾN THỨC ORGANIC</h4>
        <h4 class="headline__bold">CHO MẸ</h4>
    </div>
    <div class="container kienthuc">
        <div class="gird-contain">
            <div class="grid-item grid-item--medium grid-item--right" style='background: url("{{ assets_url }}/images/thumbnails/thumbnail-medium-1.jpg")'>
                <div class="detail-in-bg">
                    <div class="title-block">
                        <h4 class="regular">NUÔI DƯỠNG</h4>
                        <h4 class="bold">TỰ NHIÊN</h4>
                    </div>
                    <div class="desc">
                        Nơi chia sẻ những phương pháp nuôi con tự nhiên từ các chuyên gia hàng đầu của Vinamilk.<br/>Tìm hiểu ngay mẹ nhé!
                    </div>
                    <div class="btn-block">
                        <a href="#" class="btn-common"><span>KHÁM PHÁ NGAY</span></a>
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--medium grid-item--left" style='background: url("{{ assets_url }}/images/thumbnails/thumbnail-medium-2.jpg")'>
                <div class="detail-in-bg">
                    <div class="title-block">
                        <h4 class="regular">NUÔI DƯỠNG</h4>
                        <h4 class="bold">TỰ NHIÊN</h4>
                    </div>
                    <div class="desc">
                        Nơi chia sẻ những phương pháp nuôi con tự nhiên từ các chuyên gia hàng đầu của Vinamilk.<br/>Tìm hiểu ngay mẹ nhé!
                    </div>
                    <div class="btn-block">
                        <a href="#" class="btn-common"><span>KHÁM PHÁ NGAY</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="gird-contain">
            <div class="grid-item grid-item--small">
                <div class="detail-thumbnail">
                    <div class="thumbnail">
                        <img src="{{ assets_url }}/images/thumbnails/thumbnail-1.jpg" alt="">
                    </div>
                    <div class="detail">
                        <div class="title-block">
                            <a href="#" class="regular">Tại sao nên nuôi trồng hữu cơ</a>
                            <a href="#" class="tag">NUÔI DƯỠNG TỰ NHIÊN</a>
                        </div>
                        <div class="desc"></div>
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--small">
                <div class="detail-thumbnail">
                    <div class="thumbnail">
                        <img src="{{ assets_url }}/images/thumbnails/thumbnail-2.jpg" alt="">
                    </div>
                    <div class="detail">
                        <div class="title-block">
                            <a href="#" class="regular">Cách phân biệt thực phẩm hữu cơ</a>
                            <a href="#" class="tag">GIÁO DỤC HIỆN ĐẠI</a>
                        </div>
                        <div class="desc">Từ nay, mẹ đã có thể yên tâm, dù đang trong bụng mẹ, vừa chào đời hay bắt đầu chập chững,...</div>
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--small">
                <div class="detail-thumbnail">
                    <div class="thumbnail">
                        <img src="{{ assets_url }}/images/thumbnails/thumbnail-3.jpg" alt="">
                    </div>
                    <div class="detail">
                        <div class="title-block">
                            <a href="#" class="regular">Tại sao nên nuôi con hữu cơ</a>
                            <a href="#" class="tag">NUÔI DƯỠNG TỰ NHIÊN</a>
                        </div>
                        <div class="desc">Từ nay, mẹ đã có thể yên tâm, dù đang trong bụng mẹ, vừa chào đời hay bắt đầu chập chững,... </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-block text-center">
            <a href="#" class="btn-common"><span>XEM THÊM</span></a>
        </div>
    </div>
</section>